name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
env:
  CONFIGURATION: 'Release'
jobs:
  build-and-test:
    name: build-and-test--${{ matrix.os-version }}
    runs-on: ${{ matrix.os-version }}
    strategy:
      matrix:
        os-version: [windows-latest] #, ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - name: .NET setup
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: | 
            3.1.x
            6.0.x
      - name: .NET info
        run: dotnet --info
      - name: .NET restore
        run: dotnet restore ./VertiPaq-Analyzer.slnf
      - name: .NET build
        run: dotnet build ./VertiPaq-Analyzer.slnf --configuration ${{ env.CONFIGURATION }} --no-restore
      - name: .NET test
        run: dotnet test ./VertiPaq-Analyzer.slnf --configuration ${{ env.CONFIGURATION }} --no-build --verbosity normal
      - name: .NET pack
        run: dotnet pack ./VertiPaq-Analyzer.slnf --configuration ${{ env.CONFIGURATION }} --no-build --no-restore --verbosity normal